@model IEnumerable<LojaPc.Models.Usuario>

@{
    ViewBag.Title = "Usuários";
}
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <label style="font-size: larger;"><i class="fa fa-user"></i>Peças</label>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead style="background-color: #F0F0F0; color: black;">
                    <tr>
                        <th class="text-center">USUÁRIO</th>
                        <th class="text-center">EMAIL</th>
                        <th class="text-center">EDITAR</th>
                        <th class="text-center">DETALHES</th>
                        <th class="text-center">REMOVER</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var u in Model)
                    {
                        <tr>
                            <td class="text-center">@Html.Label(u.UsuarioNome)</td>
                            <td class="text-center"><label>@u.UsuarioEmail</label></td>
                            <td class="text-center">
                                <div class="inner-addon left-addon">
                                    <i class="fa fa-pencil-square-o" style="color:#ffffff"></i>
                                    @Html.ActionLink("Editar", "Edit", "Usuario", new { id = u.UsuarioId }, new { @class = "btn btn-warning", @style = "width:100%" })
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="inner-addon left-addon">
                                    <i class="fa fa-commenting-o" style="color:#ffffff"></i>
                                    @Html.ActionLink("Detalhes", "Details", "Usuario", new { id = u.UsuarioId }, new { @class = "btn btn-info", @style = "width:100%" })
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="inner-addon left-addon">
                                    <i class="fa fa-times" style="color:#ffffff"></i>
                                    @Html.ActionLink("Excluir", "Delete", "Usuario", new { id = u.UsuarioId }, new { @class = "btn btn-danger", @style = "width:100%" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="inner-addon left-addon">
                <i class="fa fa-star-o" style="color: #ffffff; width: 200px; margin-left: 41%; margin-top: 1%; margin-bottom: 3%;"></i>
                @Html.ActionLink("Cadastrar Novo Usuário", "Create", "Usuario", null, new { @class = "btn btn-success", @style = "width: 200px;margin-left: 41%;margin-top: 1%;margin-bottom: 3%;padding-right: 0px;" })
            </div>
            
        </div>
    </div>
</div>
